.thebody {
width: 100%;
align: center;
height: 5000px;
}
.title1 {
background: url('../page_images/title1.png') no-repeat left;
position: relative;
top: 0px;
display: block;
left: 0px;
height: 110px;
}
.title2 {
background: url('../page_images/title2.png') repeat-x center;
position: relative;
top: 0px;
display: block;
left: 0px;
height: 110px;
}
.title3 {
background: url('../page_images/title3.png') no-repeat right;
position: relative;
top: 0px;
left: 0px;
display: block;
height: 110px;
}
.download {
position: relative;
top: 5px;
left: 0px;
}
.download_large a, .download_large a:visited {
font: bold 12px/24px arial, helvetica, sans-aerif;
background: white url('../page_images/download_large1.png') no-repeat;
color: black;
width: 110px;
height: 50px;
display: block;
text-decoration: none;
text-align: center;	
center center;
position: relative;
top: 0px; 
left: 0px;
}
.download_large a:hover {
background: white url('../page_images/download_large2.png') no-repeat;
}
.download a, .download a:visited {
font: bold 12px/24px arial, helvetica, sans-aerif;
background: white url('../page_images/download1.png') no-repeat;
color: black;
width: 110px;
height: 25px;
display: block;
text-decoration: none;
text-align: center;	
center center;
position: relative;
top: 0px; 
left: 0px;
}
.download a:hover {
background: white url('../page_images/download2.png') no-repeat;
}
.section {
position: relative;
top: 0px;
left: 0px;
font: bold 16px/24px arial, helvetica, sans-aerif;
color: black;
text-decoration: none;
center center;
}
.blog {
font: 15px/24px arial, helvetica, sans-aerif;
position: relative; 
color: black;
font-family: arial;
}
.content {
font: 13px/24px arial, helvetica, sans-aerif;
position: relative; 
color: black;
font-family: arial;
}
.upbar_left {
position: relative;
top: 5px;
left: 10px;
background-image: url("../page_images/upbar-left.png");
background-repeat: no-repeat;
}                                                      
.upbar_right {
position: relative;
top: 5px;
left: 10px;
background-image: url("../page_images/upbar-right.png") right;
center: right;
background-repeat: no-repeat;
}                                                      
td, th {
font: 13px/24px arial, helvetica, sans-aerif;
border: 1px solid lightgrey;
}
.tdclean {
font: 13px/24px arial, helvetica, sans-aerif;
border: 20px solid white;
vertical-align: top;
}
.tdclean0 {
font: 13px/24px arial, helvetica, sans-aerif;
border: 0px solid white;
vertical-align: top;
}
.tdhead {
font: 13px/24px arial, helvetica, sans-aerif;
border: 20px solid white;
vertical-align: center;
}
table {
border-collapse: collapse;
border: 0;
}
.blackborder {
  border: 1px solid black;
}
a:visited {
text-decoration: none;
}
a:link {
text-decoration: none;
}
a.menulink:visited {
color: black;
text-decoration: none;
}
a.menulink:link {
color: black;
text-decoration: none;
}

